@media screen and (max-width: 2560px){
    .header{
        width: 2560px;
    }
    .content{
        width: 2560px;
    }
    footer{
        width: 2560px;
    }
}
@media screen and (max-width:1440px) {
    .header{
        width: 2560px;
    }
    .content{
        width: 2560px;
    }   
}
@media screen and (max-width: 1024px){
    .header{
        width: 1440px;
    }
    .content{
        width: 1440px;
    }       
}
@media screen and (max-width:992px) {
    .content {
        width: 720px;
    }
}
@media screen and (max-width:425px) {
    body{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
